/* CSS variables for color and styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

:root {
    --bg-color:#EBECF0;
    --color-w: #FFF;
    --color-s: #7E90F0;
    --accent-color:#7E90F9;
    --font: 'Poppins',sans-serif;
    --feneumorphism: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    --feneumorphism-inset:inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}

/* Base styles for the entire body */
body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    display:flex;
    font-size: 16px;
    flex-direction: column;
    font-family: var(--font);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.2px;
    color: var(--color-s);
  text-shadow: 1px 1px 1px var(--color-w);
    background-color: var(--bg-color);
}

.container {
  padding:50px;
  max-width:1080px;
  margin:0 auto;
}
/* Circular profile image styling */
.bumderan {
	  -moz-box-shadow: var(--feneumorphism-inset);
	  -webkit-box-shadow: var(--feneumorphism-inset);
	  box-shadow: var(--feneumorphism-inset); 
	  -moz-border-radius:50%; 
	  -webkit-border-radius:50%; 
	  border-radius:50%;
	  
  }
/* Profile image styling */
.fomto {
	  width: 90px;
	  height: 90px;
	  background: var(--bg-color);
	  background-image: url("https://scontent.fsub2-2.fna.fbcdn.net/v/t1.0-9/fr/cp0/e15/q65/118154083_1293017191045188_6024330906885362052_n.jpg?_nc_cat=106&ccb=1&_nc_sid=85a577&efg=eyJpIjoidCJ9&_nc_eui2=AeHSnbCvEcWlbqAwkm-HUhoXk04_lqKJlYiTTj-WoomViPk60ikgURXLvVAvSH7wIH6ADJ-LcgZGwsq3R1JZGoyG&_nc_ohc=yCppUEM9EJcAX-f1YaV&_nc_ht=scontent.fsub2-2.fna&tp=14&oh=648fd0145670546afcefb329c6fb2805&oe=5FB608FC");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
}
.header {                                               
  color: var(--color-s);
  text-align: center;
  margin-bottom:35px;
}
/* Username styles */
.header h1 {
  font-family: 'Merienda One', cursive;
  font-weight: 400;
  font-size: 18px;
}
/* Button tree styles */
.btn-tree {
  margin:20px 0;
}
/* Individual button styles */
.btn-link {
    font-family: var(--font);
    font-size:1em;
    font-weight: 500;
    border: 0;
    outline: 0;
    width:100%;
    background-color:var(--bg-color);
    color:var(--accent-color);
    padding:10px 40px;
    border-radius:12px;
    min-width:190px;
    margin-bottom:30px;
    cursor: pointer;
    text-shadow: 1px 1px 0 var(--color-w);
    box-shadow: var(--feneumorphism);
    transition:background-color 300ms ease-in-out;
    display: flex;
    align-items: center;
}

.btn-link i {
    margin-right: 9px; /* Adjust spacing between icon and text */
}

.btn-link:hover {
    box-shadow: var(--feneumorphism-inset);
    
}
.btn-link:active {
  box-shadow: var(--feneumorphism-inset);
}
/* Animation styles */
.ngocok {
	animation: ngocok-animation 4.72s ease infinite;
	transform-origin: 50% 50%;
  }
  /* Keyframes for animation */
@keyframes ngocok-animation {
	 0% { transform:translate(0,0) }
	1.78571% { transform:translate(5px,0) }
	3.57143% { transform:translate(0,0) }
	5.35714% { transform:translate(5px,0) }
	7.14286% { transform:translate(0,0) }
	8.92857% { transform:translate(5px,0) }
	10.71429% { transform:translate(0,0) }
	100% { transform:translate(0,0) }
  }
 /* Dark mode toggle container */
.darkmode-toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.darkmode-toggle-label {
  width: 40px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 10px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2), inset 0px -2px 5px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.3s;
}
/* Dark mode toggle checked state styling */
input:checked + .darkmode-toggle-label {
  background: #2c2c2c;
}
/* Dark mode toggle icon styling */
input:checked + .darkmode-toggle-label::before {
  content: '\f185'; 
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 14px;
  color: #FFF;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  transition: 0.3s;
}

body.dark-mode {
  --bg-color: #212121; 
  --color-w: #636363; 
  --color-s: #94efff; 
  --accent-color: #2fe0ff; 
  --feneumorphism: -2px -2px 5px #fff, 2px 2px 5px #babecc; /* Dark mode neumorphism */
  --feneumorphism-inset: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff; 
}

body.dark-mode {
  background-color: var(--bg-color);
  color: var(--color-s);
  text-shadow: 1px 1px 1px var(--color-w);
}

.container.dark-mode {
  box-shadow: var(--feneumorphism);
}
/* Dark mode circular profile image box shadow */
.bumderan.dark-mode {
  box-shadow: var(--feneumorphism-inset);
}

.btn-link.dark-mode {
  background-color: var(--bg-color);
  color: var(--accent-color);
  box-shadow: var(--feneumorphism);
}

.btn-link.dark-mode:hover {
  box-shadow: var(--feneumorphism-inset);
}

.header.dark-mode {
  color: var(--color-s);
  text-align: center;
  margin-bottom: 35px;
}

.footer.dark-mode {
  text-align: center;
}

footer {
  text-align: center;
}
footer a{
  color: var(--accent-color);
  text-decoration: none;
}